In [2]:
import pandas as pd
import numpy as np
import sklearn
%matplotlib inline
import matplotlib.pyplot as plt

In [4]:
sales = pd.read_csv('C:/Users/Jeffery/Google Drive/Homework/IOWA/Mayank/sales_data.csv')
sales.head(5)

  BILL_RUN_DATE Division        sales
0    2016-04-08        A     1615.386
1    2016-10-07        B     7942.578
2    2014-06-04        C  2193426.426
3    2015-08-06        D    10676.526
4    2014-04-10        F      777.480